.card__wrapper {
  display: flex;
  width: 150px;
  flex-basis: 18%;
  margin-bottom: 20px;
}


.card {
  display: flex;
  width: 100%;
  flex-direction: column;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: white;

  &__img-wrapper {
    display: flex;
    justify-content: center;
  }

  &__img {
    width: 60%;
    display: block;
    border-radius: 5px;
  }

  &__info-wrapper {
    padding: 10px 10px;
  }

  &__name, &__article, &__price, &__color {
    margin: 0;
  }

  &__name {
    font-size: 16px;
    font-weight: bold;
  }

  &__article {
    font-size: 10px;
  }

  &__color {
    font-size: 14px;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }

  &__delete {
    background: rgb(141, 129, 172);
    align-self: baseline;
    cursor: pointer;
  }

  &__img-cross {
    display: block;
  }
}
