.ModalWrapper {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(1.5px);
}

.Modal {
  width: 517px;
  height: 253px;
  position: relative;
  margin: auto;
  transform: translateY(-50%);
  top: 50%;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .6);
  border-radius: 5px;
  background-color: #E74C3C;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 31px 21px 31px;
    border-radius: 5px 5px 0 0;
    background-color: #D44637;
  }

  &__header-text {
    font-size: 22px;
    color: #FFFFFF;
    margin: 0;
  }

  &__main {
    font-size: 15px;
    color: #FFFFFF;
    margin: 39px 42px 34px 42px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
    margin-left: 152px;
    margin-right: 152px;
    margin-bottom: 24px;
  }

  &__btn {
    background-color: #B3382C;
    width: 102px;
    height: 42px;
    color: #FFFFFF;
    font-size: 15px;
    border-radius: 3px;
    outline: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  &__cross{
    cursor: pointer;
    display: block;
  }
}

