.Form {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding-left: 100px;
  padding-top: 20px;

  &__input-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__input {
    font-size: 16px;
    border-radius: 2px;
    padding: 4px 20px;
  }

  &__msg {
    color: red;
  }

  &__btn {
    background: #8d81ac;
    color: white;
    outline: none;
    border: 2px solid #8d81ac;
    border-radius: 2px;
    padding: 4px 20px;
    font-size: 16px;
  }
  &__btn:hover{
    background: white;
    color: #8d81ac;
  }

}